body {
    background-color: #00ffff;
    color: #2f2f2f;
    font-family: Arial, sans-serif;
    transition: background-color 0.5s, color 0.5s;
}

main {
    text-align: center;
    margin-top: 20vh;
}

h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
}

#menu {
    position: absolute;
    top: 0;
    left: 0;
}

#hamburger {
    background-color: #00ffff;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

#menu-content {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #00ffff;
    padding: 10px;
    border: 1px solid #2f2f2f;
}

#ajustes {
    background-color: #00ffff;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

#ajustes-content {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    background-color: #00ffff;
    padding: 10px;
    border: 1px solid #2f2f2f;
}

#tema {
    background-color: #00ffff;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

#volver {
    background-color: #00ffff;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
